@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .main_body {
        margin-right: 60px;
    }

    .cookBookFormGroup .creatorCoverPhoto {
        width: 100%;
    }

    .addNewProductPopUp {
        width: 383px;
        left: 30%;
    }

    .userFormGroup .userInput {
        width: 80%;
    }

    .userFormGroup select {
        width: 80%;
    }

    .rangeArea .rangeInput {
        width: 60%;
    }

    .learnAbout {
        padding-top: 31px;
        padding-left: 30px;
    }

    .foodAreaWithMenu {
        height: auto;
        background-size: cover;
    }
}

@media all and (max-width:1300px) {
    label #bars {
	left: 5px;
	z-index: 9999999999999999999;
	top: 35px !important;
	position: fixed;
}

    label #close {
        top: 45px;
        left: 0px !important;
    }
}

@media all and (max-width:991px) {
    .cookBookFormGroup .creatorCoverPhoto {
        width: 100%;
    }

    .addNewProductPopUp {
        width: 383px;
        left: 28%;
    }

    .mainProductArea {
        flex-wrap: wrap;
    }

    .productItem {
        flex-basis: 48%;
        margin-bottom: 25px;
    }

    .cookBookFormGroup .fileUploadBox {
        width: 100%;
    }

    .ingredientsArea {
        width: 100%;
    }

    .userFormGroup .userInput {
        width: 100%;
    }

    .userFormGroup select {
        width: 100%;
    }

    .rangeArea .rangeInput {
        width: 60%;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }

    .pc-logo {
        display: none;
    }

    .responsiveLogo {
        display: inline-block;
    }

    .maniMenuArea .logoLink {
        display: inline-block;
    }

    .foodTextArea {
        padding: 100px 0px 80px;
    }

    .foodAreaWithMenu {
        height: auto;
        background-size: cover;
    }

    .foodBg {
        height: auto;
        background-size: cover;
    }

    .regBg {
        height: auto;
        background-size: cover;
        position: unset;
    }

    .loginBg {
        height: auto;
        background-size: cover;
    }

    .learnArea {
        padding: 60px 0px 70px;
    }


    .learnAbout {
        padding-top: 31px;
        padding-left: 13px;
    }

    .formGroup .inputBox {
        width: 100%;
    }

    .formGroup .textareaBox {
        width: 100%;
        height: 150px;
    }
}

@media all and (max-width:767px) {
    .analyticsItem {
        margin-right: 5px;
    }

    .creatorInformationArea {
        flex-wrap: wrap;
    }

    .formLeft {
        flex-basis: 100%;
    }

    .formRight {
        flex-basis: 100%;
    }

    .formLeft .creatorInfo {
        margin-bottom: 30px;
    }

    .socialMediaItem {
        flex-basis: 48%;
        margin-right: 2%;
        margin-bottom: 22px;
    }

    .addNewProductPopUp {
        width: 383px;
        left: 18%;
    }

    .productItem {
        flex-basis: 100%;
        margin-bottom: 25px;
    }

    .customWidth {
        flex-basis: 100%;
    }

    .customFormMargin {
        margin-left: 0;
    }

    .cookBookFormGroup .descriptionTextarea {
        height: 200px !important;
    }

    .flexBoxTwo {
        flex-wrap: wrap;
    }

    .countingItem {
        margin-right: 0;
        margin-bottom: 25px;
    }

    .mainCountingArea {
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .countingHeading {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
    }

    .ingreadientsRight {
        flex-basis: 40%;
    }

    .flexBoxFour {
        flex-wrap: wrap;
    }

    .eneterRecipeBox {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        height: 152px;
        margin-left: 15px;
        flex-basis: 100%;
    }

    .customWidthTwo {
        flex-basis: 100%;
    }

    .cookBookFormGroup .fileUploadBox {
        width: 91%;
        margin-left: 9%;
    }

    .cookBookFormGroup .noteText {
        margin-left: 9%;
    }

    .rangeArea .rangeInput {
        width: 100%;
    }

    .paymentProfilHeading {
        width: 100%;
    }
    .plusButton .addPlus {
        cursor: pointer;
        padding-left: 50%;
    }
}

@media all and (max-width:577px) {
    .analyticsItem {
        width: 48%;
        margin-right: 0;
        margin-top: 20px;
    }

    .analyticsItemArea {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .main_body {
        margin: 20px;
    }

    .main_body {
        margin-left: 20px;
    }

    .socialMediaItem {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 22px;
    }

    .addNewProductPopUp {
        width: 383px;
        left: 10%;
    }
}

@media all and (max-width:480px) {
    .addNewProductPopUp {
        width: 383px;
        left: 2%;
    }
}

@media all and (max-width:400px) {
    .analysticsButtonArea .analyticsUl {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .analysticsButtonArea .analyticsUl .analyticsList {
        width: 100%;
        text-align: center;
    }

    .headerItem {
        padding: 27px 2% 27px 11%;
    }

    .saveButtonArea {
        margin-top: 20px;
    }

    .addNewProductPopUp {
        padding: 24px 25px 15px;
        width: 98%;
        left: 1%;
    }

    .corseIcon {
        right: -13px;
    }

    .ingreadientsLeft {
        flex-basis: 50%;
    }

    .ingreadientsRight {
        flex-basis: 50%;
    }
}

@media all and (max-width:375px) {
    .topHeaderText .dashboardName {
        font-size: 20px;
    }

    .userImageArea .userImage {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        cursor: pointer;
    }

    .sidebarLogoArea {
        margin: 38px 0px 46.5px;
    }

    label #bars {
        left: 5px;
        z-index: 9999999999999999999;
        top: 33px !important;
        position: fixed;
    }
}

@media only screen and (max-height: 900px) and (min-height: 580px) {
    /* .regBg {
        height: 128vh;
    } */

    .learnArea {
        padding: 246px 0px 260px;
    }
}
